.root {
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
    -fx-background-color: #f8f9fa;
}

.button {
    -fx-background-radius: 8;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-color: linear-gradient(to bottom, #3f51b5, #283593);
    -fx-text-fill: white;
}

.label, .check-box {
    -fx-text-fill: #222;
}
